name: Build & Deploy to CapRover

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install CapRover CLI
        run: npm install -g caprover

      # Aquí asume que en la raíz está tu captain-definition y tu Dockerfile
      - name: Deploy to CapRover
        run: |
          caprover deploy \
            -h "${{ secrets.CAPROVER_SERVER }}" \
            -p "${{ secrets.APP_TOKEN }}" \
            -a "${{ secrets.APP_NAME }}"
