name: Deploy to CapRover (Django)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install CapRover CLI
        run: npm install -g caprover

      - name: Deploy to CapRover
        run: |
          caprover login \
            --server "${{ secrets.CAPROVER_SERVER }}" \
            --username ci-viametrica \
            --password "${{ secrets.APP_TOKEN }}"

          caprover deploy -a "${{ secrets.APP_NAME }}"
